$border-color: #dddddd;

@import url('https://fonts.googleapis.com/css?family=Roboto:400,300&display=swap&subset=cyrillic');

* {
  box-sizing: border-box;
  transition: .3s ease all;
  font-family: Roboto, sans-serif;
  &:focus {
    outline: 0;
  }
}
p {
  margin-top: 0;
}

body, html {
  height: 100%;
  min-height: 100%;
}

body {
  margin: 0;
  background: linear-gradient(180deg, #4568DC 0%, #B06AB3 100%), #EF8E48 no-repeat;
  padding: 12px;
}

.App {
  font-size: 14px;
  background: #ffffff;
  padding: 14px 11px 24px;
  border-radius: 3px;
  position: relative;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  &__title {
    font-size: 16px;
    line-height: 22px;
  }
  &__action {
    padding: 0;
    background: none;
    border: 0;
    cursor: pointer;
  }
}

.row {
  margin-bottom: 20px;
  &__title {
    margin-bottom: 10px;
    &__comment {
      font-weight: 300;
    }
  }
  &__inner {
    display: flex;
    flex-wrap: wrap;
  }
}

.cell {
  cursor: pointer;
  border-radius: 4px;
  margin-bottom: -1px;
  border: 1px solid $border-color;
  margin-right: -1px;
  width: 40px;
  height: 40px;
  padding: 2px;
  div {
    border-radius: 3px;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    display: flex;
    border: 2px solid transparent;
  }
  &--selected {
    border-color: transparent;
    div {
      background: #FFD205;
    }
  }
}

.show-result {
  margin-top: 15px;
  background: #fff;
  height: 46px;
  border-radius: 23px;
  border: 1px solid $border-color;
  padding: 0 29px;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
  display: block;
  &:hover {
    background: $border-color;
  }
}

.result {
  height: 400px;
  display: flex;
  flex-direction: column;
  > div {
    flex: 1
  }
}

.result-rows {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  .row {
    padding: 5px;
    border: 1px solid $border-color;
    margin-left: 15px;
  }

}

.progress {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  height: 5px;
  background: $border-color;
  &__inner {
    height: 100%;
    background: green;
  }
}